{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shorten your url</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column;">
<header>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-md">
            <span class="navbar-brand">Link shortener</span>
        </div>
    </nav>
</header>
{{end}}
